.top {
    height: 50px;
    width: 100%;
    background-color: #444444;
}

.topmiddle {
    width: 1400px;
}

.topleft {
    width: 390px;
}

.topright {
    width: 350px;
    text-align: right;
    color: #CCCCCC;
}

.topright div:hover {
    color: #fff;
}

.logo {
    width: 125px;
    background-color: cornflowerblue;
    margin-right: 15px;
}

.Search {
    width: 235px;
    height: 100%;
}

.Search input {
    width: 235px;
    height: 25px;
    border-radius: 15px;
    background-image: url(../images/搜索.png);
    background-repeat: no-repeat;
    background-color: #888888;
    outline: none;
    border: 0;
}

.ipt:hover {
    background-color: #fff;
}

.central {
    width: 1400px;

}

.central-left {
    width: 1095px;
    background-color: aqua;
}
.Navigation{
    height: 40px;
    color: #80BD01;
}
.



.central-right {
    margin-left: 15px;
    width: 290px;
}

.Sign {
    height: 120px;
    width: 100%;
    background-color: aquamarine;
}