.top {
    height: 50px;
    width: 100%;
    background-color: #444444;
}

.topmiddle {
    width: 1400px;
}

.topleft {
    width: 390px;
}

.topright {
    width: 350px;
    text-align: right;
    color: #CCCCCC;
}

.topright div:hover {
    color: #fff;
}

.logo {
    width: 125px;
    background-color: cornflowerblue;
    margin-right: 15px;
}

.Search {
    width: 235px;
    height: 100%;
}

.Search input {
    width: 235px;
    height: 25px;
    border-radius: 15px;
    background-image: url(../images/搜索.png);
    background-repeat: no-repeat;
    background-color: #888888;
    outline: none;
    border: 0;
}

.ipt:hover {
    background-color: #fff;
}

.box {
    width: 100%;
    background-color: #E1E1E1;
}

.central {
    width: 1400px;

}

.central-left {
    width: 1095px;
    background-color: #fff;
    margin-top: 15px;
}

.whole {
    color: #fff;
    padding: 2px 2px;
    border-radius: 2px;
    background-color: #80BD01;
}

.Navigation {
    height: 40px;
    color: #80BD01;
    background-color: #F6F6F6;
}

.Navigation div {
    margin-left: 20px;
}

.central-right {
    margin-left: 15px;
    width: 290px;
    margin-top: 15px;
}

.Sign {
    height: 120px;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
    margin-bottom: 15px;
}

.Sign1 {
    height: 35px;
    width: 150px;
    padding: 10px 8px;
    color: #fff;
    background-color: #5BC0DE;
    margin-top: 5px;
}

.login {
    color: #666666;
}

.righttop {
    margin-top: 10px;
    margin-bottom: 15px;
}

.righttwo {
    height: 220px;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 15px;
}

.righttwo div {
    padding-top: 10px;
    color: #778087;
    padding-left: 10px;
}

.two1 {
    padding-bottom: 10px;
}

.twotop {
    background-color: #F6F6F6;
}

.List {
    height: 345px;
    width: 100%;
    color: #666;
    background-color: #fff;

}

.List div {
    padding-left: 10px;
}

.datatop {
    background-color: #F6F6F6;
    margin-bottom: 10px;
    font-size: 14px;
}

.data div {
    margin-right: 10px;
}

.three {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 290px;
    width: 100%;
    background-color: #fff;
}

.three div {
    padding-left: 10px;
}

.three1 {
    width: 100%;
    height: 40px;
    background-color: #F6F6F6;
    padding-left: 10px;
}

.three img {
    width: 150px;
    height: 70px;
}

.customer {
    height: 290px;
    background-color: #fff;
}

.cust {
    margin: 15px 50px 10px 50px;
    width: 190px;
    height: 190px;
}

.bottom {
    height: 245px;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
}

.bott1 {
    height: 100%;
    width: 1400px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

.cnode {
    color: #666;
    margin-top: 10px;
}

.www {
    color: #8488CC;
}

#article {
    width: 100%;
}

.addition {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.portrait {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
    cursor: pointer;
}

.critic {
    color: #666;
    margin-right: 10px;
    width: 70px;
}

.icon {
    width: 30px;
    height: 20px;
    margin-left: 10px;
    font-size: 12px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    color: #999999;
    border-radius: 2px;
}

.title {
    line-height: 50px;
    width: 750px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Release {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    cursor: pointer;
}

#admin {
    height: 120px;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.oneself {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #f6f6f6;
}

.none {
    display: none;
}

.img {
    height: 48px;
    width: 48px;
    margin: 10px;
}