.top {
    height: 50px;
    width: 100%;
    background-color: #444444;
}

.topmiddle {
    width: 1400px;
}

.topleft {
    width: 390px;
}

.topright {
    width: 350px;
    text-align: right;
    color: #CCCCCC;
}

.topright div:hover {
    color: #fff;
}

.logo {
    width: 125px;
    background-color: cornflowerblue;
    margin-right: 15px;
}

.Search {
    width: 235px;
    height: 100%;
}

.Search input {
    width: 235px;
    height: 25px;
    border-radius: 15px;
    background-image: url(../images/搜索.png);
    background-repeat: no-repeat;
    background-color: #888888;
    outline: none;
    border: 0;
}

.ipt:hover {
    background-color: #fff;
}

.box {
    width: 100%;
    background-color: #E1E1E1;
}

.central {
    width: 1400px;

}

.central-left {
    width: 1095px;
    margin-top: 15px;
}

.whole {
    color: #fff;
    padding: 2px 2px;
    border-radius: 2px;
    background-color: #80BD01;
}

.Navigation {
    height: 40px;
    color: #80BD01;
    background-color: #F6F6F6;
}

.Navigation div {
    margin-left: 20px;
}

.central-right {
    margin-left: 15px;
    width: 290px;
    margin-top: 15px;
}

.Sign {
    /* height: 120px; */
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
}

.login {
    color: #666666;
}

.righttop {
    height: 40px;
    width: 100%;
    background-color: #F6F6F6;
    padding-left: 10px;
}

.righttwo {
    height: 100px;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 15px;
}

.righttwo div {
    padding-top: 10px;
    color: #778087;
    padding-left: 10px;
}

.two1 {
    padding-bottom: 10px;
}

.twotop {
    background-color: #F6F6F6;
}

.List {
    height: 290px;
    width: 100%;
    color: #666;
    background-color: #fff;

}

.List div {
    padding-left: 10px;
}

.datatop {
    background-color: #F6F6F6;
    margin-bottom: 10px;
    font-size: 14px;
}

.data div {
    margin-right: 10px;
}

.bottom {
    height: 245px;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
}

.bott1 {
    height: 100%;
    width: 1400px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}

.www {
    color: #8488CC;
}

#article {
    background-color: #fff;
    width: 100%;
}

#portrait {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.nierong {
    margin-bottom: 15px;
}

.author {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.text img {
    width: 100%px;
    height: 500px;
}

.text li {
    list-style: none;
}

#comment {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px #F0F0F0 solid;
    padding: 10px 10px;
}

.head img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.reply {
    background-color: #F6F6F6;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.headleft {
    display: flex;
}

.name {
    display: flex;
    flex-direction: column;
}

.nameid {
    display: flex;
}

.network {
    font-size: 12px;
    margin-right: 5px;

}

.time {
    color: #0088CC;
    font-size: 14px;
}

.critic {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.i {}

.title {
    font-size: 22px;
    /* margin-left: ; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 标题置顶图标 */
.sticky {
    width: 32px;
    height: 18px;
    background-color: #80bd01;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

/*  */
.own {
    width: 32px;
    height: 18px;
    background-color: #80bd01;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.release {
    display: flex;
    height: 20px;
    margin: 10px 10px;
    display: flex;
}